@charset "UTF-8";
:root {
  --body-sans-serif: 'Montserrat', sans-serif;
  --brand-sans-serif: 'Cuprum', sans-serif;
  --color-text-primary: #1e2e36;
  --color-accent: #44c697;
  --color-brand: #ffd001;
  --white: #ffffff;
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.social__svg, .furniture__svg {
  display: block;
  outline: none;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../src/fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../src/fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), url("../src/fonts/montserrat-v18-latin_cyrillic-700.woff2") format("woff2"), url("../src/fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"), url("../src/fonts/cuprum-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../src/fonts/cuprum-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--color-text-primary);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  outline: 1px dashed red;
}

@media screen and (min-width: 320px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 688px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-right: 51px;
    padding-left: 51px;
    max-width: 1920px;
  }
}

/* Новинка! */
.hero-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  /* 64 sp • H1 Headline */
  color: var(--color-text-primary);
}

/* Ліжко Ornella */
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
  /* 36 sp • H3 Headline */
  color: var(--color-text-primary);
}

@media screen and (min-width: 1440px) {
  .social {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
}

.social__title {
  margin-right: 5px;
}

@media screen and (min-width: 1440px) {
  .social__list {
    display: flex;
  }
}

.social__item:not(:last-child) {
  margin-right: 5px;
}

.social__svg {
  width: 40px;
  height: 40px;
  background-color: var(--color-text-primary);
}

.page-header {
  padding-top: 10px;
  padding-bottom: 15px;
}

.phones {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.smartphone-icon {
  margin-right: 5px;
}

.chevron-big-icon {
  margin-left: 5px;
}

.phones__list {
  position: relative;
}

.phones__link {
  white-space: nowrap;
}

.phones__sublink {
  white-space: nowrap;
}

.phones__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-property: transform, opacity;
  transition: var(--time) var(--cubic);
}

.phones:hover .phones__submenu,
.phones:focus-within .phones__submenu,
.phones__link:focus + .phones__submenu,
.phones__link:hover + .phones__submenu {
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
  transform: translateY(5%);
}

.top-nav {
  padding-bottom: 15px;
}

@media screen and (min-width: 1440px) {
  .top-nav {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .top-nav__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .top-nav__item:not(:last-child) {
    margin-right: 15px;
  }
}

.top-nav__link {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  transition: var(--time) var(--cubic);
}

.top-nav__link::after, .top-nav__link--current::after {
  /* Rectangle 136 */
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  /* color3 */
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.top-nav__link::after {
  transform: scaleX(0);
}

.top-nav__link:focus::after, .top-nav__link:hover::after, .top-nav__link.top-nav__link--current::after {
  transform: scaleX(100%);
}

.bottom-row {
  display: flex;
}

.primary-nav {
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .furniture {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .furniture__list {
    margin-right: 115px;
    display: flex;
    align-items: center;
  }
}

.furniture__item {
  position: relative;
}

.furniture__item:not(:last-child) {
  margin-right: 15px;
}

.furniture__link-wrapper {
  display: flex;
  align-items: center;
}

/* Дивани */
.furniture__link {
  margin-right: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  /* 18 sp • H5 Headline */
  text-transform: uppercase;
}

.furniture__submenu {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition: var(--time) var(--cubic);
}

.logo {
  display: flex;
  align-items: center;
  /* Furniture.test */
  /* 36 sp • H3 Headline */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

.logo__desc::first-letter {
  color: var(--color-accent);
  /* color3 */
}

.order {
  display: flex;
  align-items: center;
}

.order__link {
  margin-right: 30px;
}

.order__cart {
  display: flex;
  align-items: center;
}

.order__desc {
  text-transform: uppercase;
}

/* Замовити дзвінок */
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 278px;
  max-width: 500px;
  max-height: 51px;
  padding: 14px 46px;
  font-family: inherit;
  /* 18 sp • H5 Headline */
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  text-overflow: ellipsis;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: var(--color-accent);
  /* color3 */
  border-radius: 3px;
  border: 1px solid transparent;
  /* Замовити дзвінок */
}

.primary-btn:focus, .primary-btn:hover {
  background-color: #38b88a;
}

.hero {
  padding-top: 0;
  margin: 0 auto;
  background-image: url("../src/images/hero-bg/hero-bg-1920.jpg");
  background-image: url("../src/images/hero-bg/hero-bg-1920.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1920px;
    min-height: 785px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/hero-bg/hero-bg-3840@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/hero-bg/hero-bg-3840@2x.webp");
  }
}

/* Rectangle 138 */
.hero-wrapper {
  position: relative;
  max-width: 462px;
  padding: 99px 74px 101px 75px;
  text-align: center;
  background: #ffffff;
  /* Rectangle 139 */
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 100%;
  background: var(--color-accent);
  /* color3 */
}

.hero-wrapper__primary-btn {
  margin-bottom: 50px;
}

@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__furniture-name {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__desc {
    margin-bottom: 30px;
  }
}

.slide-control {
  margin-bottom: 5px;
}

/* 01 */
.count {
  font-weight: 700;
  line-height: 1.25;
  color: var(--color-text-primary);
  /* color4 */
  text-align: center;
}

.slide-control__count--current {
  font-size: 36px;
  /* 36 sp • H3 Headline */
}

/* / 04 */
.slide-control__count--total {
  font-size: 24px;
  /* 24sp • H4 Headline */
  text-transform: uppercase;
}

.back-btn {
  margin-right: 8px;
}

.brand__desc {
  font-family: var(--brand-sans-serif);
}
/*# sourceMappingURL=main.css.map */