@charset "UTF-8";
:root {
  --body-sans-serif: 'Montserrat', sans-serif;
  --brand-sans-serif: 'Cuprum', sans-serif;
  --color-text-primary: #1e2e36;
  --color-accent: #44c697;
  --color-white: #ffffff;
  --color-discount: #ff1b1b;
  --color-old-price: #bcbdbb;
  --color-brand: #ffd001;
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.social__svg, .furniture__svg {
  display: block;
  outline: none;
}

img {
  display: block;
  min-width: 280px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: var(--time) var(--cubic);
  transition-property: transform, opacity;
}

.back-btn,
.next-btn, .goods-filter__btn, .to-top-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../src/fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../src/fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), url("../src/fonts/montserrat-v18-latin_cyrillic-700.woff2") format("woff2"), url("../src/fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"), url("../src/fonts/cuprum-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../src/fonts/cuprum-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--body-sans-serif);
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -1.1px;
  color: var(--color-text-primary);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  contain: content;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  outline: 1px dashed red;
}

@media screen and (min-width: 320px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 688px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-right: 51px;
    padding-left: 51px;
    max-width: 1920px;
  }
}

/* Новинка! */
.hero__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  /* 64 sp • H1 Headline */
  color: var(--color-text-primary);
}

/* Ліжко Ornella */
/* Категорії товарів */
.section__title {
  margin-bottom: 50px;
  /* Montserrat - fs: 44px, lh:1.36; Proxima Nova - 48 sp • H2 Headline, 60 px*/
  font-size: 44px;
  font-weight: 700;
  line-height: 1.36;
  color: var(--color-text-primary);
  /* color4 */
  transform: translateX(50%);
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.section__title-text {
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  transition-property: transform;
  transition: var(--time) var(--cubic);
  /* Rectangle 165 */
}

.section__title-text::before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -5px;
  z-index: -1;
  width: 20px;
  background: var(--color-accent);
  /* color3 */
}

@media screen and (min-width: 320px) {
  .social {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
}

.social__title {
  margin-right: 5px;
}

@media screen and (min-width: 320px) {
  .social__list {
    display: flex;
  }
}

.social__item:not(:last-child) {
  margin-right: 5px;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: 700;
}

.top-nav__phones {
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .phones {
    display: flex;
    align-items: center;
  }
}

.phones__smartphone-icon {
  margin-right: 5px;
}

.phones__chevron-big-icon {
  margin-left: 5px;
}

.phones__list {
  position: relative;
}

.phones__link {
  white-space: nowrap;
}

.phones__sublink {
  white-space: nowrap;
}

.phones__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-property: transform, opacity;
  transition: var(--time) var(--cubic);
}

.phones:hover .phones__submenu,
.phones:focus-within .phones__submenu,
.phones__link:focus + .phones__submenu,
.phones__link:hover + .phones__submenu {
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
  transform: translateY(5%);
}

.top-nav {
  padding-bottom: 15px;
}

@media screen and (min-width: 320px) {
  .top-nav {
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .top-nav__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 320px) {
  .top-nav__item:not(:last-child) {
    margin-right: 15px;
  }
}

.top-nav__link {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  transition: var(--time) var(--cubic);
}

.top-nav__link::after, .top-nav__link--current::after {
  /* Rectangle 136 */
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  /* color3 */
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.top-nav__link::after {
  transform: scaleX(0);
}

.top-nav__link:focus::after, .top-nav__link:hover::after, .top-nav__link.top-nav__link--current::after {
  transform: scaleX(100%);
}

@media screen and (min-width: 320px) {
  .bottom-row {
    display: flex;
  }
}

.page-header__primary-nav {
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .furniture {
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .furniture__list {
    margin-right: 115px;
    display: flex;
    align-items: center;
  }
}

.furniture__item {
  position: relative;
}

.furniture__item:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 320px) {
  .furniture__link-wrapper {
    display: flex;
    align-items: center;
  }
}

/* Дивани */
.furniture__link {
  margin-right: 3px;
  /* 18 sp • H5 Headline */
  text-transform: uppercase;
}

.furniture__submenu {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition: var(--time) var(--cubic);
}

.logo {
  /* Furniture.test */
  /* 36 sp • H3 Headline */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

@media screen and (min-width: 320px) {
  .logo {
    display: flex;
    align-items: center;
  }
}

.logo__desc::first-letter {
  color: var(--color-accent);
  /* color3 */
}

.logo__svg {
  margin-right: 15px;
}

@media screen and (min-width: 320px) {
  .order {
    display: flex;
    align-items: center;
  }
}

.order__link {
  margin-right: 30px;
}

@media screen and (min-width: 320px) {
  .order__cart {
    display: flex;
    align-items: center;
  }
}

.order__svg {
  margin-right: 5px;
}

.order__desc {
  text-transform: uppercase;
}

/* Замовити дзвінок */
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 51px;
  padding: 14px 46px;
  font-family: inherit;
  /* 18 sp • H5 Headline */
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  text-overflow: ellipsis;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: var(--color-accent);
  /* color3 */
  border-radius: 3px;
  border: none;
  transition-property: transform, background-color;
  transition: var(--time) var(--cubic);
  /* Замовити дзвінок */
}

.primary-btn:focus, .primary-btn:hover {
  background-color: #38b88a;
}

.main__hero {
  margin: 0 auto;
}

.hero {
  padding-top: 0;
  background-color: var(--color-text-primary);
  background-image: url("../src/images/hero-bg/hero-bg-1920.jpg");
  background-image: url("../src/images/hero-bg/hero-bg-1920.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .hero {
    max-width: 1920px;
    min-height: 785px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/hero-bg/hero-bg-3840@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/hero-bg/hero-bg-3840@2x.webp");
  }
}

/* Rectangle 138 */
.hero-wrapper {
  position: relative;
  max-width: 462px;
  padding: 99px 74px 101px 75px;
  text-align: center;
  background: #ffffff;
  /* Rectangle 139 */
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 100%;
  background: var(--color-accent);
  /* color3 */
}

.hero-wrapper__primary-btn {
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) {
  .hero__title {
    margin-bottom: 50px;
  }
}

/* Ліжко Ornella */
.hero__furniture-name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
  /* 36 sp • H3 Headline, lh: 45px */
}

@media screen and (min-width: 320px) {
  .hero__furniture-name {
    margin-bottom: 10px;
  }
}

/* Це новий рівень комфортного сну */
.hero__desc {
  font-size: 36px;
  /* lh: 45px */
  text-align: center;
}

@media screen and (min-width: 320px) {
  .hero__desc {
    margin-bottom: 30px;
  }
}

.hero-wrapper__slide-control {
  margin-bottom: 5px;
}

/* 01 */
.count {
  font-weight: 700;
  line-height: 1.25;
  color: var(--color-text-primary);
  /* color4 */
  text-align: center;
}

.slide-control__count--current {
  font-size: 36px;
  /* 36 sp • H3 Headline */
}

/* / 04 */
.slide-control__count--total {
  font-size: 24px;
  /* 24sp • H4 Headline */
  text-transform: uppercase;
}

.back-btn,
.next-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.slide-control__back-btn {
  margin-right: 8px;
}

.advantages {
  contain: content;
}

.advantages__list {
  position: relative;
}

@media screen and (min-width: 320px) {
  .advantages__list {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantages__item {
  flex-grow: 1;
  transition-property: transform, opacity;
  transition: var(--time) var(--cubic);
}

@media screen and (min-width: 320px) {
  .advantages__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.advantages__item.is-hidden {
  position: absolute;
  top: 50%;
  left: 210%;
}

@media screen and (min-width: 320px) {
  .goods-filter {
    padding-bottom: 87px;
  }
}

@media screen and (min-width: 320px) {
  .goods-filter__list {
    margin-top: -20px;
    margin-left: -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .goods-filter__list {
    margin-right: 0;
  }
}

.goods-filter__item {
  max-width: fit-content;
}

@media screen and (max-width: 319px) {
  .goods-filter__item:not(:last-child) {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media screen and (min-width: 320px) {
  .goods-filter__item {
    margin: 20px 0 0 200px;
    flex-basis: calc(100% / 2 - 200px);
  }
}

@media screen and (min-width: 1200px) {
  .goods-filter__item {
    flex-basis: calc(100% / 6 - 200px);
  }
}

.goods-filter__btn {
  position: relative;
  transition-property: color, background-color;
  transition: var(--time) var(--cubic);
}

.goods-filter__btn::after, .goods-filter__btn--current::after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  /* color3 */
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.goods-filter__btn::after {
  transform: scaleX(0);
}

.goods-filter__btn:focus::after, .goods-filter__btn:hover::after, .goods-filter__btn.goods-filter__btn--current::after {
  transform: scaleX(100%);
}

.goods-filter__btn--current {
  color: var(--color-accent);
}

.goods-filter__svg {
  margin-bottom: 10px;
  fill: currentColor;
  transition-property: fill;
  transition: var(--time) var(--cubic);
}

.goods-filter__btn:focus .goods-filter__svg,
.goods-filter__btn:hover .goods-filter__svg {
  fill: var(--color-accent);
}

/* Дивани */
.goods-filter__title {
  /* 22px for Montserrat, 24px for Proxima Nova, 24sp • H4 Headline 30px */
  font-size: 22px;
  font-weight: 700;
  line-height: 1.25;
  height: 30px;
  color: var(--color-text-primary);
  /* color4 */
  text-align: center;
  text-transform: uppercase;
}

.goods__gallery {
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) {
  .goods__list {
    margin-top: -50px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.goods__item {
  flex-grow: 1;
}

@media screen and (min-width: 320px) {
  .goods__item {
    margin-top: 50px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.goods__link {
  position: relative;
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.goods__link:focus, .goods__link:hover {
  transform: translateY(-25px);
}

.goods__link:focus .goods__meta,
.goods__link:hover .goods__meta {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.goods__link:focus .goods__price,
.goods__link:hover .goods__price {
  color: var(--color-white);
}

.goods__marker {
  position: absolute;
  left: 0;
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1.1px;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  /* Frame 201, Хiт продаж */
  /* Акція */
}

.goods__marker--new {
  top: 10px;
  background-color: var(--color-text-primary);
  /* color4 */
}

.goods__marker--discount {
  top: 48px;
  background-color: var(--color-discount);
  /* color4 */
}

.goods__meta {
  padding: 15px;
  transition-property: color, background-color;
  transition: var(--time) var(--cubic);
}

@media screen and (min-width: 320px) {
  .goods__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

/* Ліжко Рамона */
.goods__name {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  /* 24sp • H4 Headline */
  text-align: center;
  text-transform: uppercase;
}

/* 8 999 грн (Normal price) */
.goods__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  /* 24sp • H4 Headline, lh: 30px */
  color: var(--color-text-primary);
  /* color4 */
  text-align: center;
  text-transform: uppercase;
  transition-property: color;
  transition: var(--time) var(--cubic);
}

.goods__price--current {
  margin-right: 10px;
  color: var(--color-discount);
}

.goods__price--previous {
  text-decoration-line: line-through;
  font-size: 18px;
  color: var(--color-old-price);
  /* color2 */
}

.goods__btn-wrapper {
  transform: translateX(50%);
}

.goods__catalog-btn {
  transform: translateX(-50%);
}

.goods__btn-wrapper,
.goods__catalog-btn {
  transition-property: transform;
  transition: var(--time) var(--cubic);
}

.about-us__content {
  position: relative;
  display: flex;
}

/* Rectangle 174 */
.about-us__background {
  position: relative;
  top: 0;
  left: 51px;
  width: 1407px;
  height: 675px;
  margin-left: auto;
  background-color: var(--color-old-price);
  background-image: url("../src/images/about-us/about-us.jpg");
  background-image: url("../src/images/about-us/about-us.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about-us__background {
    background-image: url("../src/images/about-us/about-us@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about-us__background {
    background-image: url("../src/images/about-us/about-us@2x.webp");
  }
}

.about-us__text-wrapper {
  position: absolute;
  top: 0;
  left: -51px;
  bottom: 0;
  max-width: 791px;
  max-height: fit-content;
  padding: 50px 30px 50px 51px;
  margin: auto 0;
  background-color: var(--color-white);
}

.about-us__text-wrapper::after {
  /* Rectangle 176 */
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  width: 15px;
  height: 100%;
  background: var(--color-accent);
  /* color3 */
  border-radius: 0 3px 3px 0;
}

.about-us__text:not(:last-child) {
  margin-bottom: 15px;
}

.about-us__first-word {
  font-weight: 700;
  color: var(--color-accent);
  /* color3 */
  text-transform: uppercase;
}

/* Rectangle 175 */
.consultancy__content {
  position: relative;
  display: flex;
}

/* Rectangle 174 */
.consultancy__background {
  position: relative;
  top: 0;
  right: 51px;
  min-width: 1561px;
  min-height: 675px;
  background-color: var(--color-old-price);
  background-image: url("../src/images/consultancy/consultancy-1.jpg");
  background-image: url("../src/images/consultancy/consultancy-1.webp");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .consultancy__background {
    background-image: url("../src/images/consultancy/consultancy-1@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .consultancy__background {
    background-image: url("../src/images/consultancy/consultancy-1@2x.webp");
  }
}

.consultancy__text-wrapper {
  position: absolute;
  top: 0;
  right: -51px;
  bottom: 0;
  width: 513px;
  max-height: fit-content;
  padding: 50px 51px 50px 30px;
  margin: auto 0;
  background-color: var(--color-white);
}

.consultancy__text-wrapper::before {
  /* Rectangle 176 */
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 15px;
  height: 100%;
  background: var(--color-accent);
  /* color3 */
  border-radius: 3px 0 0 3px;
}

/* Замовте консультацію */
.consultancy__heading {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.25;
  /* 36 sp • H3 Headline  lh: 45px */
  color: var(--color-text-primary);
  /* color4 */
}

.consultancy__text {
  width: 395px;
  letter-spacing: -1px;
}

.consultancy__text--bold {
  letter-spacing: normal;
}

.consultancy__group {
  margin-bottom: 15px;
}

.consultancy__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.consultancy__label:not(:last-child) {
  margin-bottom: 15px;
}

.consultancy__label-text {
  position: absolute;
  padding: 14px 15px;
  opacity: 0.6;
  /* color4 */
  transition-property: transform, opacity, color;
  transition: var(--time) var(--cubic);
}

.consultancy__input:focus + .consultancy__label-text,
.consultancy__input:not(:placeholder-shown) + .consultancy__label-text {
  font-size: 12px;
  transform: translate(-5px, calc(-68%));
}

.consultancy__input:focus + .consultancy__label-text {
  color: var(--color-accent);
}

/* Rectangle 176 */
.consultancy__input {
  min-height: 51px;
  padding: 14px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  /* 22px */
  color: var(--color-text-primary);
  background: var(--color-white);
  border: 1px solid var(--color-text-primary);
  border-radius: 3px;
  /* Віталій */
}

.consultancy__input::placeholder {
  height: 23px;
  opacity: 0.6;
  /* color4 */
  transition-property: opacity;
  transition: var(--time) var(--cubic);
}

.consultancy__input:focus::placeholder {
  opacity: 0;
}

.consultancy__input:focus {
  box-shadow: 0 0 3px 2px rgba(68, 198, 151, 0.5);
}

.consultancy__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transform: translateX(50%);
}

.consultancy__submit-btn {
  transform: translateX(-50%);
}

/* Ellipse 11 */
.to-top-btn {
  position: relative;
  top: 0;
  left: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* color3 */
  background: var(--color-accent);
  box-shadow: 0 4px 12px rgba(130, 130, 130, 0.2);
}

.to-top-btn__svg {
  fill: var(--color-white);
}

.brand {
  display: flex;
}

.brand__logo {
  margin-right: 3px;
  fill: var(--color-brand);
}

.brand__desc {
  font-family: var(--brand-sans-serif);
}
/*# sourceMappingURL=main.css.map */