.furniture__link-wrapper {
  @include mq($mobile) {
    display: flex;
    align-items: center;
  }
}

/* Дивани */
.furniture__link {
  margin-right: 3px;

  /* 18 sp • H5 Headline */
  text-transform: uppercase;
}
