$mobile: 'mobile';
$tablet: 'tablet';
$laptop: 'laptop';
$pre-laptop: 'laptop';
$desktop: 'desktop';

$breakpoints: (
  'mobile': 320px,
  'tablet-container': 688px,
  'tablet': 768px,
  'pre-laptop': 900px,
  'laptop-container': 1100px,
  'laptop': 1200px,
  'desktop': 1920px,
);
