%link {
  display: block;
  text-decoration: none;
  color: inherit;
}

%list {
  list-style: none;
}

%svg {
  display: block;
  outline: none;
}

%img {
  display: block;
  min-width: 280px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  // object-fit: contain;
  // margin: 0 auto;

  transition: var(--time) var(--cubic);
  transition-property: transform, opacity;
}

%btn {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}
