.consultancy__label {
  position: relative;

  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &-text {
    padding: 14px 15px;
    position: absolute;

    .consultancy__input:focus + &,
    .consultancy__input:not(:placeholder-shown) + & {
      font-size: 12px;
      transform: translate(-5px, calc(-68%));
    }

    .consultancy__input:focus + & {
      color: var(--color-accent);
    }

    transition-property: transform, color;
    @include transition;
  }
}
