/* Ellipse 11 */
.to-top-btn {
  @extend %btn;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: calc(100% - 9px);
  left: -51px + 36px;

  z-index: 1;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* color3 */
  background: var(--color-accent);
  box-shadow: 0 4px 12px rgba(130, 130, 130, 0.2);

  &__svg {
    fill: var(--color-white);
  }
}
