.goods__list {
  @include mq($mobile, $mt: -50px, $ml: -30px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.goods__item {
  flex-grow: 1;
  @include mq($mobile, $mt: 50px, $ml: 30px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}
