.goods__marker {
  position: absolute;
  left: 0;
  padding: 5px 15px;

  @include fz(17px, 700, 1.25, -1.1px);
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;

  /* Frame 201, Хiт продаж */
  &--new {
    top: 10px;
    background-color: var(--color-text-primary); /* color4 */
  }

  /* Акція */
  &--discount {
    top: 48px;
    background-color: var(--color-discount); /* color4 */
  }
}
