.goods-filter__list {
  @include mq($mobile, $mt: -20px, $ml: -20px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include mq($laptop, $mr: 0);
}

.goods-filter__item {
  // &:not(:last-child) {
  //   @include margins($ml: auto, $mr: auto, $mb: 20px);
  // }

  max-width: fit-content;

  @include mq($mobile, $mt: 20px, $ml: 20px, $mb: 0) {
    flex-basis: calc(100% / 2 - 20px);
  }

  @include mq($laptop) {
    flex-basis: calc(100% / 6 - 20px);
  }
}
