.top-nav__link {
  position: relative;
  width: 100%;

  text-transform: uppercase;
  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: darken(#44c697, 1);
  }

  &::after,
  &--current::after {
    /* Rectangle 136 */
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;

    background-color: var(--color-accent); /* color3 */

    @include transition;
    transition-property: transform;
  }

  &::after {
    transform: scaleX(0);
  }

  &:focus::after,
  &:hover::after,
  &.top-nav__link--current::after {
    transform: scaleX(100%);
  }

  &--inverted {
    display: inline-flex;
    align-items: center;

    color: var(--color-white);

    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 2px;

      margin-right: 6px;

      background-color: var(--color-accent);
    }
  }
}
