.goods__meta {
  padding: 15px;

  @include mq($mobile) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  transition-property: color, background-color;
  @include transition;
}
