.phones__link {
  white-space: nowrap;
}

.phones__sublink {
  white-space: nowrap;
}

.phones__link,
.phones__sublink {
  @include transition;
  transition-property: color;

  &:focus,
  &:hover {
    color: darken(#44c697, 1);
  }
}
