.phones__icon-smartphone {
  margin-right: 5px;
  fill: var(--color-white);
  stroke: var(--color-text-primary);
}

// .icon-smartphone { }

// .phones__icon-chevron-big { }

// .icon-chevron-big { }
