.logo {
  display: flex;
  align-items: center;

  /* Furniture.test */ /* 36 sp • H3 Headline */
  @include fz(36px, 700, 1.25);

  &__desc::first-letter {
    color: var(--color-accent); /* color3 */
  }
}
