.advantages__list {
  position: relative;
  @include mq($laptop, $mt: -30px, $ml: -30px) {
    display: flex;
  }
}

.advantages__item {
  @include mq($laptop, $mt: 30px, $ml: 30px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &.is-hidden {
    position: absolute;
    top: 50%;
    left: 210%;
  }

  transition-property: transform, opacity;
  @include transition;
}
