.advantages__btn {
  position: absolute;
  top: 0;
  bottom: 0;

  margin-top: auto;
  margin-bottom: auto;
}

.advantages__back-btn {
  left: 15px;
  color: var(--color-white);
}

.advantages__next-btn {
  right: 15px;
  color: inherit;
}
