// .slide-control__back-btn, .slide-control__next-btn { }

.back-btn,
.next-btn {
  @extend %btn;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
}
