/* Замовити дзвінок */
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 500px;
  max-height: 51px;

  padding: 14px 46px;

  font-family: inherit; /* 18 sp • H5 Headline */
  color: var(--white);
  @include fz(16px, 700, 1.25);
  text-overflow: ellipsis;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: var(--color-accent); /* color3 */
  border-radius: 3px;
  border: 1px solid transparent;

  &:focus,
  &:hover {
    background-color: darken(#44c697, 5);
  }

  /* Замовити дзвінок */
  // &__desc {}
}
